.displayCard{
	
	background-color:#384f79; 
	opacity: 1;
	width:342px;
	height:431px;
	float:right;
}

.displayText{
	background-color:black; 
	opacity: 100%; 
	width:316px; 
	height:304px; 
	float:right; 
	margin-right:14px; 
	margin-top:21px;"
}

.displayContainer{
	background-color:#09244c; 
	opacity: 0.5; 
	width:343px; 
	height:800px;
	float:right;
}

.displayBar{
	background-color:#9affff; 
	opacity: 0.3; 
	width:20px; 
	height:800px;
	float:right;
}